@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-dark: #c084fc;
}

:root {
  background-color: #fff;
  color: #6b6375;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
    color: #9ca3af;
  }
}
